.contenedor{
    display: flex;
    justify-content: space-around;
}

.item{
    width: 30%;
    background-color: aquamarine;
}
@media (max-width:600px) {
    
    .contenedor {
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
}
body{background-color: rgb(114, 96, 96);}