body {
  padding: 0%;
  margin: 0%;
}
.highlight {
  background-color: aqua;
  color: blueviolet;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#miCaja{
    display: block;
}
#miCaja2 {
    display: none;
}
